.aboutus-title{
    font-family: 'Chillax-Semibold', sans-serif;
    font-size: 52px;
}

.txt_aboutus{
    font-size: 36px;
    font-family: 'Satoshi-Reg', sans-serif;
    line-height: 1.2;
}

.computer-image{
    margin-top: 110px;
    margin-bottom: 110px ;
}