.hero-title{
    font-family: $headings-font-family;
    font-size: 50px;
}

.hero-text{
    font-size: 36px;
    font-family: $font-family-base;
    line-height: 1.2;
}

.newrai-img{
   margin-top: 100px;
}

@media (max-width: 767.98px) {
  .mycontainer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}