.hero-title{
    font-family: 'Chillax-Semibold', sans-serif;
    font-size: 50px;
}

.hero-text{
    font-size: 36px;
    font-family: 'Satoshi-Reg', sans-serif;
    line-height: 1.2;
}

.newrai-img{
   margin-top: 100px;
}