.team-title{
    font-family: 'Chillax-Semibold', sans-serif;
    font-size: 52px;
}

.person_name{
    font-size: 28px;
    font-family: 'Satoshi-Black', sans-serif;
}

.person_role{
    font-size: 22px;
    font-family: 'Satoshi-Reg', sans-serif;
    margin-top: -8px;
}

.img-background {
  --cut: 40%;

  background: linear-gradient(
    to bottom,
    transparent var(--cut),
    $primary var(--cut)
  );
}

.ourteam-bg{
    background-image: url('/mysite/mysite/assets/images/textura.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}