.team-title{
    font-family: $headings-font-family;
    font-size: $h2-font-size;
}

.person_name{
    font-size: 28px;
    font-family: 'Satoshi-Black', sans-serif;
}

.person_role{
    font-size: 22px;
    font-family: $font-family-base;
    margin-top: -8px;
}

.img-background {
  --cut: 40%;

  background: linear-gradient(
    to bottom,
    transparent var(--cut),
    $primary var(--cut)
  );
  overflow: hidden;
}

.ourteam-bg{
    position: relative;
    background-image: url('/mysite/mysite/assets/images/textura.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    isolation: isolate;
}

.ourteam-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba($secondary, 0.9);
    z-index: 0;
    pointer-events: none;
}

.ourteam-bg > .container-xxl {
    position: relative;
    z-index: 1;
}