.team-title{
    font-family: 'Chillax-Semibold', sans-serif;
    font-size: 52px;
}

.person_name{
    font-size: 28px;
    font-family: 'Satoshi-Black', sans-serif;
}

.person_role{
    font-size: 22px;
    font-family: 'Satoshi-Reg', sans-serif;
    margin-top: -8px;
}

.img-background{
    background: $primary;
}