.tec-title{
    font-family: $headings-font-family;
    font-size: $h2-font-size;
}

.txt_django{
    font-size: 22px;
    font-family: $font-family-base;
    line-height: 1.2;
}

@media (max-width: 767.98px) {
  .mycontainer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}