.pp-title{
    font-family: $headings-font-family;
    font-size: $h2-font-size;
}

.pp-lastupdated{
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 16px;
    color: $primary;
}

.pp-text1{
    font-family: $font-family-base;
    font-size: 36px;
    line-height: 1.2;
}

.pp-text2{
    font-family: 'Satoshi-Black', sans-serif;
    font-size: 22px;
}

.pp-text3{
    font-family: $font-family-base;
    font-size: 22px;
    line-height: 1.2;
}

@media (max-width: 767.98px) {
  .mycontainer {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}