.pp-title{
    font-family: 'Chillax-Semibold', sans-serif;
    font-size: 52px;
}

.pp-lastupdated{
    font-family: 'Satoshi-Bold', sans-serif;
    font-size: 16px;
    color: $primary;
}

.pp-text1{
    font-family: 'Satoshi-Reg', sans-serif;
    font-size: 36px;
    line-height: 1.2;
}

.pp-text2{
    font-family: 'Satoshi-Black', sans-serif;
    font-size: 22px;
}

.pp-text3{
    font-family: 'Satoshi-Reg', sans-serif;
    font-size: 22px;
    line-height: 1.2;
}