.socials-title{
    font-family: 'Chillax-Semibold', sans-serif;
    font-size: 52px;
}

.contact-title{
    font-family: 'Chillax-Semibold', sans-serif;
    font-size: 52px;
}

.copyright-text{
    font-size: 14px;
    font-family: 'Satoshi-Reg', sans-serif;
}

.footer-links{
    font-family: 'Satoshi-Reg', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
}

.contacto-text{
    // font-family: 'Satoshi-Reg', sans-serif;
    // font-size: 22px;
}

.contacto-tittle{
    // font-size: 22px;
}

.divider-horizontal {
  width: 100%;
  height: 1.5px;
  background-color: #0080ff;
  margin-top: 110px;
  margin-bottom: 50px;
}

