.navbar-nav .nav-link{
    font-size: 18px;
    font-family: 'Satoshi-Reg', sans-serif;
    letter-spacing: 2px;
    align-items: end;
}

.navbar{
    padding-bottom: 0;
}

.navbar-brand{
    align-items: end;
    padding-bottom: 0;
}

.navbar{
    padding-top: 18px;
}

.nav-link.active{
    text-decoration: underline;
}