$custom-colors: (
  "custom": rgb(255, 0, 0)
);

$body-tertiary-bg: rgb(255, 247, 0);

@font-face {
font-family: "Chillax-Semibold";
src: url("~./assets/fonts/Chillax-Semibold.otf") format("truetype");
font-weight: 400;
}