{% load wagtailimages_tags %}

<section class="bg-white text-secondary py-5 aboutus-section" id="aboutus">

    <div class="aboutus-viewport">
        <div class="aboutus-bg row-top">
            {% for block in page.aboutus_gallery %}
                {% image block.value original %}
            {% endfor %}
        </div>

        <div class="aboutus-bg row-bot">
            {% for block in page.aboutus_gallery %}
                {% image block.value original %}
            {% endfor %}
        </div>

    </div>
    

    <div class="container-xxl text-center mt-5 mb-5">

        <h2 class="mb-4 aboutus-title">About Us</h2>

        <div class="row align-items-top justify-content-center">
            <div class="col-md-8">
                <div class="txt_aboutus mt-5 mb-5">{{ page.About_Us_Text_1 }}</div>
                
                <div class="computer-image">
                    {% if page.Aboutus_image %}
                       {% image page.Aboutus_image width-900 class="img-fluid d-block mx-auto"%}
                    {% endif %}
                </div>

                <div class="txt_aboutus mt-5 mb-5">{{ page.About_Us_Text_2 }}</div>

            </div>
        </div>

    </div>
</section>