{% load wagtailimages_tags %}

<footer class="bg-white text-secondary py-4" id="contactus">
    <div class="container-xxl text-center mt-5">
        <div class="row justify-content-between">

          <div class="col-md-7 text-start">
            <div class="divider-vertical pe-md-5">
                <h2 class="contact-title">Contact Us</h2>
            
                <div class="d-flex flex-column flex-md-row gap-4 mt-5">

                    <div>
                        <p class="mb-0 contacto-tittle mt-2" style="line-height:1;"><strong>Address</strong></p>
                        <p class="mb-0 address-text">{{ settings.base.FooterSettings.address }}</p>
                    </div>

                    <div>
                       <p class="mb-0 contacto-tittle mt-2" style="line-height:1;"><strong>Email</strong></p>
                       <a href="mailto:{{ settings.base.FooterSettings.email }}" class="contacto-text">{{ settings.base.FooterSettings.email }}</a>
                    </div>

                </div>
            </div>

          </div>

          <div class="col-md-4 text-start mt-5 mt-md-0">
            <h2 class="socials-title">Our Socials</h2>

            <div class="d-flex gap-3 flex-row socials-icons icons-mt">
               {% if settings.base.FooterSettings.facebook_url %}
               <a href="{{ settings.base.FooterSettings.facebook_url }}" target="_blank">
                   {% if settings.base.FooterSettings.facebook_icon %}
                       {% image settings.base.FooterSettings.facebook_icon original %}
                   {% endif %}
               </a>
               {% endif %}

               {% if settings.base.FooterSettings.instagram_url %}
               <a href="{{ settings.base.FooterSettings.instagram_url }}" target="_blank">
                   {% if settings.base.FooterSettings.instagram_icon %}
                       {% image settings.base.FooterSettings.instagram_icon original %}
                   {% endif %}
               </a>
               {% endif %}

               {% if settings.base.FooterSettings.linkedin_url %}
               <a href="{{ settings.base.FooterSettings.linkedin_url }}" target="_blank">
                   {% if settings.base.FooterSettings.linkedin_icon %}
                       {% image settings.base.FooterSettings.linkedin_icon original %}
                   {% endif %}
               </a>
               {% endif %}

               {% if settings.base.FooterSettings.whatsapp_url %}
               <a href="{{ settings.base.FooterSettings.whatsapp_url }}" target="_blank">
                   {% if settings.base.FooterSettings.whatsapp_icon %}
                       {% image settings.base.FooterSettings.whatsapp_icon original %}
                   {% endif %}
               </a>
               {% endif %}

            </div>
          </div>

        </div>

        <div class="divider-horizontal"></div>

        <div class="row align-items-center">

            <!-- Copyright -->
            <div class="col-12 col-md-4 order-3 order-md-1 text-center text-md-start mt-4 mt-md-0">
                <p class="mb-0">Copyright © 2025. All rights reserved by Neonumy</p>
            </div>

            <!-- Links + Imagem -->
            <div class="col-12 col-md-8 order-1 order-md-2">

                <!-- Desktop -->
                <div class="d-none d-md-flex justify-content-between align-items-center">
                    <a class="nav-link footer-links {% if request.path == '/home/' %}active{% endif %}" href="/">HOME</a>
                    <a class="nav-link footer-links {% if request.path == '/privacy_policy/' %}active{% endif %}" href="/privacy-policy/">PRIVACY POLICY</a>

                    {% if settings.base.FooterSettings.finaciamento_icon %}
                        {% image settings.base.FooterSettings.finaciamento_icon width-430 class="img-fluid" %}
                    {% endif %}
                </div>

                <!-- Mobile -->
                <div class="d-md-none">
                    <div class="d-flex justify-content-center justify-content-md-start gap-3 mb-4">
                        <a class="nav-link footer-links {% if request.path == '/home/' %}active{% endif %}" href="/">HOME</a>
                        <a class="nav-link footer-links {% if request.path == '/privacy_policy/' %}active{% endif %}" href="/privacy-policy/">PRIVACY POLICY</a>
                    </div>

                    <div>
                        {% if settings.base.FooterSettings.finaciamento_icon %}
                            {% image settings.base.FooterSettings.finaciamento_icon width-430 class="img-fluid" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>