{% load wagtailimages_tags %}

<footer class="bg-dark text-white py-4 mt-5">
    <div class="container-xxl text-center mt-5">
        <div class="row justify-content-between">

          <div class="col-md-7 text-start border-end">
            <h2 class="contact-title">Contact Us</h2>
            
            <div class="d-flex gap-4 mt-5">

                <div>
                    <p class="mb-0 contacto-tittle"><strong>Address</strong></p>
                    <p class="mb-0 contacto-text">Avenida 5 de Outubro 46A, 8000-076 Faro</p>
                </div>

                <div>
                    <p class="mb-0 contacto-tittle"><strong>Email</strong></p>
                    <p class="mb-0 contacto-text">contact@neonumy.com</p>
                </div>

            </div>

          </div>

          <div class="col-md-4 text-start">
            <h2 class="socials-title">Our Socials</h2>

            <div class="d-flex gap-3 mt-5 flex-row socials-icons">
               {% if settings.base.FooterSettings.facebook_url %}
               <a href="{{ settings.base.FooterSettings.facebook_url }}" target="_blank">
                   {% if settings.base.FooterSettings.facebook_icon %}
                       {% image settings.base.FooterSettings.facebook_icon original %}
                   {% endif %}
               </a>
               {% endif %}

               {% if settings.base.FooterSettings.instagram_url %}
               <a href="{{ settings.base.FooterSettings.instagram_url }}" target="_blank">
                   {% if settings.base.FooterSettings.instagram_icon %}
                       {% image settings.base.FooterSettings.instagram_icon original %}
                   {% endif %}
               </a>
               {% endif %}

               {% if settings.base.FooterSettings.linkedin_url %}
               <a href="{{ settings.base.FooterSettings.linkedin_url }}" target="_blank">
                   {% if settings.base.FooterSettings.linkedin_icon %}
                       {% image settings.base.FooterSettings.linkedin_icon original %}
                   {% endif %}
               </a>
               {% endif %}

               {% if settings.base.FooterSettings.whatsapp_url %}
               <a href="{{ settings.base.FooterSettings.whatsapp_url }}" target="_blank">
                   {% if settings.base.FooterSettings.whatsapp_icon %}
                       {% image settings.base.FooterSettings.whatsapp_icon original %}
                   {% endif %}
               </a>
               {% endif %}

            </div>
          </div>

        </div>

        <div class="divider-horizontal"></div>

        <div class="row align-items-center">

            <div class="col-md-4 text-start copyright-text">
                <p class="mb-0">Copyright © 2025. All rights reserved by Neonumy</p>
            </div>

            <div class="col-md-8 d-flex justify-content-between align-items-center">

                <a class="nav-link footer-links {% if request.path == '/home/' %}active{% endif %}" href="#">HOME</a>
                <a class="nav-link footer-links {% if request.path == '/privacy_policy/' %}active{% endif %}" href="#">PRIVACY POLICY</a>

                {% if settings.base.FooterSettings.finaciamento_icon %}
                    {% image settings.base.FooterSettings.finaciamento_icon width-430 %}
                {% endif %}

            </div>

        </div>

    </div>
</footer>