{% load wagtailimages_tags %}

<section class="bg-secondary text-white py-5" id="ourteam">
    <div class="container-xxl text-center mt-5 mb-5">
        <h2 class="mb-5 team-title">Our Team</h2>

        <div class="row align-items-top mt-5 mb-5">

            <div class="col-md-3 mt-5 ">
                <div class="img-background">
                    {% if page.Image_1 %}
                        {% image page.Image_1 original class="img-fluid" %}
                    {% endif %}
                </div>
                
                <div class="person_name mt-4">{{ page.Name_Text_1 }}</div>
                <div class="person_role">{{ page.Role_Text_1 }}</div>

            </div>

            <div class="col-md-3 mt-5 ">
                {% if page.Image_2 %}
                    {% image page.Image_2 original class="img-fluid" %}
                {% endif %}
                
                <div class="person_name mt-4">{{ page.Name_Text_2 }}</div>
                <div class="person_role">{{ page.Role_Text_2 }}</div>

            </div>

            <div class="col-md-3 mt-5 ">
                {% if page.Image_3 %}
                    {% image page.Image_3 original class="img-fluid" %}
                {% endif %}
                
                <div class="person_name mt-4">{{ page.Name_Text_3 }}</div>
                <div class="person_role">{{ page.Role_Text_3 }}</div>

            </div>

            <div class="col-md-3 mt-5 ">
                {% if page.Image_4 %}
                    {% image page.Image_4 original class="img-fluid" %}
                {% endif %}
                
                <div class="person_name mt-4">{{ page.Name_Text_4 }}</div>
                <div class="person_role">{{ page.Role_Text_4 }}</div>

            </div>

            <div class="col-md-3 mt-5 ">
                {% if page.Image_5 %}
                    {% image page.Image_5 original class="img-fluid" %}
                {% endif %}
                
                <div class="person_name mt-4">{{ page.Name_Text_5 }}</div>
                <div class="person_role">{{ page.Role_Text_5 }}</div>

            </div>

            <div class="col-md-3 mt-5 ">
                {% if page.Image_6 %}
                    {% image page.Image_6 original class="img-fluid" %}
                {% endif %}
                
                <div class="person_name mt-4">{{ page.Name_Text_6 }}</div>
                <div class="person_role">{{ page.Role_Text_6 }}</div>

            </div>

            <div class="col-md-3 mt-5 ">
                {% if page.Image_7 %}
                    {% image page.Image_7 original class="img-fluid" %}
                {% endif %}
                
                <div class="person_name mt-4">{{ page.Name_Text_7 }}</div>
                <div class="person_role">{{ page.Role_Text_7 }}</div>

            </div>

            <div class="col-md-3 mt-5 ">
                {% if page.Image_8 %}
                    {% image page.Image_8 original class="img-fluid" %}
                {% endif %}
                
                <div class="person_name mt-4">{{ page.Name_Text_8 }}</div>
                <div class="person_role">{{ page.Role_Text_8 }}</div>

            </div>

        </div>
    </div>
</section>