{% load wagtailimages_tags %}

<section class="bg-primary text-white py-5" id="ourtech">
    <div class="container-xxl text-center mt-5 mb-5 mycontainer">
        <h2 class="mb-4 tec-title">Our Technologies</h2>

        <div class="row align-items-top">

            {% for tech in page.technologies.all %}
            <div class="col-sm-6 col-xl-3 mt-4">
                <div class="border border-3 rounded-5 border-white h-100 tech-card">
                    <div class="mt-5 px-3">

                        {% if tech.image %}
                            {% image tech.image original %}
                        {% endif %}

                        <div class="txt_django mt-5 mb-5">
                            {{ tech.text }}
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>   
</section>