{% load wagtailimages_tags %}

<section class="bg-secondary text-white py-5" id="ourteam">
    <div class="container-xxl text-center mt-5 mb-5">
        <h2 class="mb-5 team-title">Our Team</h2>

        <div class="row align-items-top mt-5">

            <div class="col-md-3 mt-5 ">
                {% if page.Image_1 %}
                    {% image page.Image_1 original class="img-fluid" %}
                {% endif %}
                
                <div class="person_name mt-4">{{ page.Name_Text_1 }}</div>
                <div class="person_role mt-0">{{ page.Role_Text_1 }}</div>
            </div>

        </div>
    </div>
</section>