<section class="bg-white text-secondary py-5" id="hero">
    <div class="container-xxl text-start mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 d-flex justify-content-between align-items-center">

                <h2 class="pp-title">Privacy Policy</h2>
                <p class="pp-lastupdated">Last Updated: 4 December 2023</p>

            </div>
        </div>
        
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-lg-8">

                <p class="pp-text1">Thank you for visiting Neonumy. We are committed to respecting your privacy and protecting your personal
                information. This Privacy Policy is intended to inform you about our policies and procedures regarding
                the collection, use, and disclosure of any personal information we receive from users of our website.</p>

            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-12 col-lg-8">

                <p class="pp-text2">Information We Don’t Collect</p>
                <p class="pp-text3 mb-3">At Neonumy, we do not collect any personal information from our users. We do not use
                cookies or any other tracking technologies to gather information about your browsing behavior on our site.</p>

                <p class="pp-text2">External Links</p>
                <p class="pp-text3 mb-3">Our website may contain links to external sites that are not operated by us. Please be aware
                that we have no control over the content and practices of these sites and cannot accept
                responsibility or liability for their respective privacy policies.</p>

                <p class="pp-text2">Changes to This Privacy Policy</p>
                <p class="pp-text3 mb-3">We reserve the right to update or change our Privacy Policy at any time, and you should
                check this Privacy Policy periodically. Your continued use of the service after we post any
                modifications to the Privacy Policy on this page will constitute your acknowledgment of the
                modifications and your consent to abide and be bound by the modified Privacy Policy</p>

                <p class="pp-text2">Contact Us</p>
                <p class="pp-text3 mb-3">If you have any questions about this Privacy Policy, please contact us at
                contact@neonumy.com.</p>

            </div>
        </div>

    </div>
</section>