<section class="bg-white text-secondary py-5">
    <div class="container-xxl text-start mt-5 mb-5">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8 d-flex flex-column flex-lg-row justify-content-between align-items-lg-end mt-lg-5">

                <h2 class="pp-title">Privacy Policy</h2>
                <p class="pp-lastupdated">{{ page.last_update }}</p>

            </div>
        </div>
        
        <div class="row justify-content-center mt-5">
            <div class="col-12 col-lg-8">

                <p class="pp-text1">{{ page.text_1 }}</p>

            </div>
        </div>

        <div class="row justify-content-center mt-5">
            <div class="col-12 col-lg-8">

                <p class="pp-text2 mb-0">{{ page.subtitle_1 }}</p>
                <p class="pp-text3 mb-4">{{ page.subtext_1 }}</p>

                <p class="pp-text2 mb-0">{{ page.subtitle_2 }}</p>
                <p class="pp-text3 mb-4">{{ page.subtext_2 }}</p>

                <p class="pp-text2 mb-0">{{ page.subtitle_3 }}</p>
                <p class="pp-text3 mb-4">{{ page.subtext_3 }}</p>

                <p class="pp-text2 mb-0">{{ page.subtitle_4 }}</p>
                <p class="pp-text3 mb-0">
                    {{ page.subtext_4 }}
                    <a href="mailto:{{ settings.base.FooterSettings.email }}" class="contacto-text">{{ settings.base.FooterSettings.email }}</a>
                </p>

            </div>
        </div>

    </div>
</section>